<!--

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    

<div class="ui inline cookie nag">
  <span class="title">
    We use cookies to ensure you get the best experience on our website
  </span>
  <i class="close icon"></i>
</div>
-->

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="item" href="/work">Work</a>
    <a class="item" href="/company">Company</a>
    <a class="item" href="/careers">Careers</a> 
    
    <div class="right menu">
      <div class="item">
        <a class="ui button" href="/contact">Contact</a>
      </div>
      <!--
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
      -->
    </div>
    
  </div>
</div>

<!-- Sidebar Menu -->
<div class="voxbox ui vertical inverted sidebar menu">
  <a class="active item" href="/">Home</a>
    <a class="item" href="/work">Work</a>
    <a class="item" href="/company">Company</a>
    <a class="item" href="/careers">Careers</a> 
  
  <a class="item" href="/contact">Contact</a>
  <!--
  <a class="item">Signup</a>
  -->
</div>