body
  background-color: #5b2480
  font-family: 'PT Sans', sans-serif
  
.root
  text-align: center
  padding: 1em 1em
  margin-top: 240px

  img
    height: 99px

  .text
    color: #D9D9D6

    h2 
      font-weight: normal
      margin-top: 0
      margin-bottom: 0

    p
      font-size: 12px