body
  background: url(/img/congruent_pentagon.png)
  
.spacer
  height: 320px
  
h2.ui.header
  font-size: 2.6em
  font-family: Roboto
  
.sub.header
  font-family: Lato
  
.led 
  margin: 20px auto
  width: 5px
  height: 5px
  border-radius: 50%
  background-color: rgba(255, 255, 255, 0.25)
  box-shadow: #000 0 -1px 6px 1px

.led-red 
  background-color: #EBFDD4
  box-shadow: #000 0 0px 1px 1px, inset darken(#EBFDD4,70%) 0 -1px 4px, #EBFDD4 0 0px 3px

.led-orange 
  background-color: #FF7000
  box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px


.led-yellow 
  background-color: #FF0
  box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px


.led-green 
  background-color: #80FF00
  box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px


.led-blue 
  background-color: #06F
  box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px

.blink
  @include animation(blink 1.2s steps(5, start) infinite)
  
.tossing
  @include animation(tossing 2.5s steps(10, start) infinite)

@keyframes tossing 
  0% 
    transform: rotate(-2deg)	
  50% 
    transform: rotate(2deg)
  100% 
    transform: rotate(-2deg)	
    
  
.tossing-slow
  @include animation(tossing 5s steps(20, start) infinite)

  
@include keyframes(blink) 
  0%
    background-color: #EBFDD4
  
  90% 
    background-color: darken(#EBFDD4,50%)
  
  100% 
    background-color: #EBFDD4
  
  


.ui.menu
  font-family: Roboto
  
.voxbox.ui.segment, .voxbox.ui.primary.segment
  background: url(/img/congruent_pentagon.png)
  

  
#sat-1, #sat-2, #planet
  position: absolute
  background-repeat: no-repeat 

  
#sat-1
  background: url(/img/sat.png)    
  width: 300px
  height: 160px
  top: 80px
  
  .led
    top: -14px
    position: relative
    right: -51px
    background-repeat: no-repeat        
  
  
#under-construction
  background: url(/img/under-construction.png)    
  width: 147px
  height: 95px
  display: inline-block    
  vertical-align: middle
  position: relative
  background-repeat: no-repeat 
  
  .led
    top: -2px
    position: relative
    right: -12px
    background-repeat: no-repeat  
    z-index: -1
  
#sat-2
  background: url(/img/sat-small.png)
  width: 238px
  height: 160px
  right: 180px
  
#planet
  background: url(/img/planet.png)
  width: 250px
  height: 140px
  right: 224px
  top: 415px
    
.voxbox.ui.menu
  //@include background(linear-gradient(transparentize(white,.8), transparentize(rgb(27, 28, 29),.3)), url("/img/congruent_pentagon.png"))  
  @include background(linear-gradient(transparent, white), url("/img/congruent_pentagon.png"))
  
.voxbox.sidebar.icon
  font-size: 23px
  
.voxbox.masthead 
  h1.ui.header
    font-weight: 900
    font-family: Roboto