body
  background: url(/img/congruent_pentagon.png)
  
.spacer
  height: 320px
  
h2.ui.header
  font-size: 2.6em
  font-family: Roboto
  
.sub.header
  font-family: Lato
  
.ui.secondary.inverted.pointing.menu
  border-width: 0 0 2px 0
  

    
  
  
.led 
  margin: 20px auto
  width: 5px
  height: 5px
  border-radius: 50%
  background-color: rgba(255, 255, 255, 0.25)
  box-shadow: #000 0 -1px 6px 1px

.led-red 
  background-color: #EBFDD4
  box-shadow: #000 0 0px 1px 1px, inset darken(#EBFDD4,70%) 0 -1px 4px, #EBFDD4 0 0px 3px

.led-orange 
  background-color: #FF7000
  box-shadow: #000 0 -1px 6px 1px, inset #630 0 -1px 8px, #FF7000 0 3px 11px


.led-yellow 
  background-color: #FF0
  box-shadow: #000 0 -1px 6px 1px, inset #660 0 -1px 8px, #FF0 0 3px 11px


.led-green 
  background-color: #80FF00
  box-shadow: #000 0 -1px 6px 1px, inset #460 0 -1px 8px, #80FF00 0 3px 11px


.led-blue 
  background-color: #06F
  box-shadow: #000 0 -1px 6px 1px, inset #006 0 -1px 8px, #06F 0 3px 11px

.blink
  @include animation(blink 1.2s steps(5, start) infinite)
  
.tossing
  @include animation(tossing 2.5s steps(10, start) infinite)

@keyframes tossing 
  0% 
    transform: rotate(-2deg)	
  50% 
    transform: rotate(2deg)
  100% 
    transform: rotate(-2deg)	
    
  
.tossing-slow
  @include animation(tossing 5s steps(20, start) infinite)

  
@include keyframes(blink) 
  0%
    background-color: #EBFDD4
  
  90% 
    background-color: darken(#EBFDD4,50%)
  
  100% 
    background-color: #EBFDD4
  
  
  
.voxbox.ui.segment, .voxbox.ui.primary.segment
  background: url(/img/stardust.png)
  

  
#sat-1, #sat-2, #planet
  position: absolute
  background-repeat: no-repeat 

  
#sat-1
  background: url(/img/sat.png)    
  width: 300px
  height: 160px
  top: 80px
  
  .led
    top: -14px
    position: relative
    right: -51px
    background-repeat: no-repeat        
  
  
#under-construction
  background: url(/img/under-construction.png)    
  width: 147px
  height: 95px
  display: inline-block    
  vertical-align: middle
  position: relative
  background-repeat: no-repeat 
  
  .led
    top: -2px
    position: relative
    right: -12px
    background-repeat: no-repeat  
    z-index: -1
  
#sat-2
  background: url(/img/sat-small.png)
  width: 238px
  height: 160px
  right: 180px
  
#planet
  background: url(/img/planet.png)
  width: 250px
  height: 140px
  right: 224px
  top: 415px
    
.voxbox.ui.menu
  @include background(linear-gradient(transparent, rgba(0,0,0,0.3)), url(/img/stardust.png))
  
.voxbox.sidebar.icon
  font-size: 23px
  
.voxbox.masthead 
  h1.ui.header
    font-weight: 900
    font-family: Roboto
    
    
    
$ship: #fff
$blue: #34aadc

.sceneWrap 
  display: block
  position: relative
  top: 354px
  left: -221px
  height: 100%
  margin: 0 auto
  max-width: 400px
  max-height: 575px
  padding-top: 2em
  width: 100%
  position: relative
  @include animation(load-animation .65s linear)    
  
  @media(max-width: 500px)  max-height: 350px 

@include max-screen(767px)
  .sceneWrap
    display: none

.jet-pack 
  //container for the actual jet
  display: block
  font-size: 1rem 
  left: 50%
  position: absolute 
  text-align: center
  top: 70%
  transform: translate(-50%, -50%) rotateZ(5deg)
  //@include animation(up-down-animation .5s linear infinite alternate-reverse)
  
  @media(max-width: 500px)  font-size: .75rem  
  @media(max-height: 387px)  transform: translate(-50%, 0%) rotateZ(5deg) 
  
  //extended wings
  &:before 
    background: $ship
    content: ''
    display: inline-block
    height: 2.25em
    left: 50%
    position: absolute
    top: 50%
    transform: translate(-50%, 25%) 
    width: 6em
  
  //extended wings blue cut out
  &:after 
    background-image: linear-gradient(rgba(#444349,1) 0%,rgba(#444349,0.9) 50%,rgba(83,109,254,0)  100%)
    //background: #4380D7 //$blue
    border-radius: 15%
    content: ''
    display: inline-block
    height: 8em
    left: 50%
    position: absolute
    top: 50%  
    transform: translate(-50%, 20%)
    width: 5.65em 
    @media(max-width: 500px)  background: #444349 //#4289D5  
  
  


.jet-body 
  //main body
  background: $ship
  border-top-right-radius: 60% 50%
  border-top-left-radius: 60% 50%
  border-bottom-left-radius: 60% 50%
  border-bottom-right-radius: 60% 50%
  display: inline-block 
  height: 8.5em
  position: relative
  width: 3.25em
  z-index: 3
  
  &:after 
    //exhaust
    border-left: .65em solid transparent
    border-right: .65em solid transparent
    border-top: 1.75em solid  lighten(#444349 /*$blue*/, 25%) 
    content: ""
    display: inline-block 
    height: .5em
    left: 50%
    position: absolute
    top: 9em
    transform: translate(-50%, 0)
    z-index: 6
    @include animation(flame-animation .2s linear infinite)
  
  //exhaust pipe
  &:before 
    border-left: .5em solid transparent
    border-right: .5em solid transparent
    border-bottom: 1.1em solid $ship
    content: ""
    display: inline-block 
    left: 50%
    position: absolute
    top: 8em 
    transform: translate(-50%, 0)
    width: .2em
    z-index: 10 
  


.jet-wing-top-circle 
  //actually the cicle window
  background: #444349//$blue
  border-radius: 50%
  box-shadow: inset -.14em -.2em .25em rgba($ship, .24), inset -.4em -.2em .25em rgba($ship, .4), inset -.4em -.2em 1em rgba($blue, .5)  
  display: block
  height: 1.7em
  left: 50%
  position: absolute
  top: 2.5em
  transform: translate(-50%, 0)
  width: 1.7em
  //top of the wings
  &:before,
  &:after 
    border-bottom: .3em solid transparent
    border-top: 1.5em solid transparent
    border-right: 1.8em solid $ship
    content: ""
    height: 0
    left: -1.9em
    position: absolute
    top: .9em   
    transform: rotate(-8deg)
    width: 0 
  
  //fliping wing top to right
  &:after 
    border-bottom: .3em solid transparent
    border-top: 1.5em solid transparent
    border-left: 1.8em solid $ship
    border-right: 0
    left: auto
    right: -1.9em
    transform: rotate(8deg)
  


//smoke plume
.smoke 
  background: $ship
  border-left: 1px solid lighten($blue, 15%)
  border-right: 1px solid lighten($blue, 15%)
  bottom: -75%
  height: 6em
  left: 50%
  position: absolute
  transform: translate(-50%, 0)
  width: 1em
  z-index: 2
  //streaks in plume
  &:before,
  &:after 
    background: $ship
    border-left: 1px solid rgba($blue, .05)
    border-right: 1px solid rgba($blue, .02)
    content: ''
    height: 6em
    left: 50%
    position: absolute
    width: .2em
  
  
  &:after 
    left: auto
    right: 50%
  
  
  &-bubble,
  &-bubble:before,
  &-bubble:after 
    background: $ship
    border-radius: 50%
    bottom: -1em
    display: block
    height: 3em
    left: -1em
    position: absolute
    width: 3em
    @include animation(smoke-animation .3s linear infinite alternate-reverse)
  
  
  &-bubble:after 
    bottom: -.25em
    content: ''
    height: 2.5em
    width: 2.5em
    @include animation-delay(.1s)
  
  
  &-bubble:before 
    bottom: -.25em
    content: ''
    height: 2.15em
    left: auto
    right: -.5em
    width: 2.15em
    @include animation-delay(.5s)
  


.needle 
  border-left: .5em solid transparent
  border-right: .5em solid transparent
  border-bottom: 3.1em solid $ship
  height: 0
  left: 50%
  position: absolute
  top: -10.25em  
  transform: translate(-50%, 0)
  width: 0
  z-index: -1
  
  //circle
  &:after 
    border: 1px solid rgba($ship, .3) 
    border-radius: 50%
    box-shadow: inset 0 -.0625em -.125em $ship, inset 0 -.9375em .3125em rgba($ship, .9), inset 0 -1.25em .625em rgba($blue, .5)  
    content: ""
    height: 14em
    left: 50%
    position: absolute
    top: 100% 
    transform: translate(-50%, 28%)
    width: 14em
    @include animation(up-down-animation .15s linear infinite alternate-reverse)
  


.flag 
  background: rgba($ship, .95)  
  border-radius: 50%
  height: 2em
  left: -.05em
  position: absolute
  top: 5em
  transform: rotateZ(-25deg)
  width: 2em
  @include animation(round-animation 2s linear infinite alternate-reverse) 
  
  
  &:before,
  &:after 
    background: rgba($ship, .95)  
    border-radius: 50%
    content: ""
    height: 1.5em
    position: absolute
    right: 2em
    top: -.5em
    width: 1.5em
  
  
  &:after 
    right: 0
    top: -.5em
  




//keyframes
@include keyframes(load-animation) 
  0% 
    opacity: 0
    @include transform(scale(.75))
  
  
  100% 
    opacity: 1
    @include transform(scale(1))
  


@include keyframes(flame-animation) 
  100% 
    border-top-width: 1.9em
    border-left-width: .5em
    border-left-width: .5em
  


@include keyframes(smoke-animation) 
  0% 
    @include transform(scale(.95))
  
  
  100% 
    @include transform(scale(1))
  


@include keyframes(round-animation) 
  0% 
    left: .5em
    opacity: .5
    top: 5em
    @include transform(scale(.95))
    
  100% 
    left: -0.5
    opacity: 1
    top: 5em
    @include transform(scale(1))
  


@include keyframes(up-down-animation) 
  0% 
    box-shadow: inset 0 -1px 2px rgba($ship, .95), inset 0 -15px 5px rgba($ship, .9), inset 0 -20px 10px rgba($blue, .5)
  
  
  100% 
    box-shadow: inset 0 -1px 2px $ship, inset 0 -17px 5px rgba($ship, .95), inset 0 -22px 12px rgba($blue, .6)
  
    